.details-breakdown {
    display: flex;
    flex-direction: column;
}
.details h5 {
    height: 100%;
}
.left {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px 25px 0px 25px
}
.left div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left-left {
    align-items: flex-start;
}
.left-right {
    align-items: flex-end;
}

.right-left {
    align-items: flex-start;
}
.right-right {
    align-items: flex-end;
}

.right {
    display: flex;
    flex-direction: row;
    width: 100%;
     margin: 0px 25px 0px 25px;
}
.right div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.detail-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid black;
}

.details-breakdown img {
    height: 200px;
    width: 200px;
}
