.details {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    color: black;
}
.details-breakdown {
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.details-breakdown div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details-breakdown img {
    height: 100px;
    width: 100px;
}

.line-graph {
    height: 100%;
}

.details-buttons {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
}