html {
    background-color: black;
}
.details {
    display: flex;
    flex-direction: column;
    color: rgb(43, 37, 37);
    background-color: whitesmoke;
    padding-top: 5em
}
.details-breakdown {
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    padding: 1em 5em 0em 5em;
}
.details-breakdown div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details-breakdown img {
    height: 100px;
    width: 100px;
}

.line-graph {
    height: 100%;
}

.buy-sell-func {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    justify-content: flex-end;
    padding: 0em 1em 0em 0em;
}
.details-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}
.details-buttons button {
   margin: 0px 0px 0px 5px
}
.login-message{
    display:flex;
    justify-content: center;
}
.line-chart {
 padding-top: 1em
}
.details-ticker {
    border-bottom: 2px solid black;
}
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    font-size:15px;
  }
   
  .box {
    position: relative;
    width: 20%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 2px;
  }