.orders-title {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding-left: 50px;
  color: grey;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.5;
}

.orders-title:hover {
  color: grey;
}

.symbol-link {
  text-decoration: none;
  color: black;
}
